:root {
  --size-normal: 16px;
  --size-small: 12px;
  --size-big: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0px solid red;
}

body {
  //   font-family: "Noto Sans KR", sans-serif;
  font-size: 0.9rem;
  line-height: 1rem;
  word-wrap: break-word;
  word-break: keep-all;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: inherit;
  //   font-family: "Rubik", sans-serif;
}

a,
a:visited {
  position: relative;
  color: inherit;
  text-decoration: none;
  transition: 0.4s;
}

a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0%;
  width: 0%;
  height: 100%;
  transition: 0.4s;
}

a:hover::after {
  width: 100%;
}

li,
ul {
  list-style: none;
}

button {
  padding: 8px 12px;
  position: relative;
  color: inherit;
  transition: 0.4s;
  background: linear-gradient(#fff 0 0) left / var(--p, 0%) no-repeat;
  cursor: pointer;
  border: 1px solid #111;
}

button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: 0.4s;
}

button:hover {
  --p: 100%;
}

button:hover::after {
  width: 100%;
}

/* pc mobile */

div[class^="pc"] {
  display: none;
}
div[class^="mobile"] {
  display: inline-block;
}
img[class^="pc"] {
  display: none;
}
img[class^="mobile"] {
  display: inline-block;
}
p[class^="pc"] {
  display: none;
}

/* class */

.flex_start {
  display: flex;
  justify-content: flex-start;
}

.flex {
  display: flex;
}
.flex_sb {
  display: flex;
  justify-content: space-between;
}
.flex_end {
  display: flex;
  justify-content: flex-end;
}
.flex_center {
  display: flex;
  justify-content: center;
}

// form

form {
  label {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  input {
    width: 100%;
    height: 36px;
  }
  textarea {
    width: 100%;
    min-height: 120px;
  }
}

// main

.bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(24, 24, 24, 0.7);
  opacity: 0.5;
}

.base {
  position: relative;
  margin: 100px 20px;
  background: white;
  min-height: 720px;
  height: 100%;
  padding: 50px 20px;
  border-radius: 0 30px 30px 30px;
  box-shadow: 5px 5px rgba(24, 24, 24, 0.9);
}

.map_wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 350px;
}

#map {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  min-width: 320px;
  min-height: 320px;
  outline: 1px solid red;
  z-index: 1;
  position: absolute;
}

.radius_border {
  border: 1px solid #919191;
  border-radius: 5px;
}

.custom_typecontrol {
  position: absolute;
  top: 10px;
  right: 10px;
  overflow: hidden;
  width: 130px;
  height: 30px;
  line-height: 30px;
  z-index: 2;
  font-size: 12px;
  display: flex;
  font-family: "Malgun Gothic", "맑은 고딕", sans-serif;
  span {
    display: block;
    width: 50%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
  }
  .btn {
    background: #fff;
    background: linear-gradient(#fff, #e6e6e6);
    z-index: 2;
    font-size: 12px;
    padding: 0;
    margin: 0;

    :hover {
      background: #f5f5f5;
      background: linear-gradient(#f5f5f5, #e3e3e3);
    }
    :active {
      background: #e6e6e6;
      background: linear-gradient(#e6e6e6, #fff);
    }
  }
  .selected_btn {
    color: #fff;
    background: #59729b;
    background: linear-gradient(#425470, #5b6d8a);
    :hover {
      color: #111;
    }
  }
}
.custom_zoomcontrol {
  position: absolute;
  top: 50px;
  right: 10px;
  width: 36px;
  height: 80px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 3;
  background-color: #f5f5f5;

  > :first-child {
    border-bottom: 1px solid #bfbfbf;
  }

  span {
    display: block;
    width: 36px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    z-index: 3;
    cursor: pointer;

    img {
      width: 15px;
      height: 15px;
      padding: 0;
      margin: 0;
      z-index: 3;
      border: none;
    }
  }
}

@media screen and (min-width: 1240px) {
  .base {
    margin: 100px auto;
    width: 1200px;
    padding: 60px;
    min-height: 820px;
  }
}
